.jumbo_one{
    background-image: url("https://images.unsplash.com/photo-1496765283645-8a37c7999272?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom; 
    
}


.jumbo_two{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.laptop {
    height: 220px;
    width: 250px;
    
}

h6{
    font-size: 80%;
    color: gray;
}

.white{
    color:black;
}

.travel{
    height: 75%;
    width: 100%;
}

.computers{
    height: 80%;
    width: 80%;
}

.reduce-size{
    font-size: 90%;
}


.reduce-size2{
    font-size: 80%;
}

.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }


*{
    font-family: 'Roboto';
}

.mv-right{
    margin-left: 100px;
    
}